__pycache__/
saved/
Books/
books/Deep Learning for Time Series Forecasting - Predict the Future with MLPs, CNNs and LSTMs in Python - J. Brownlee.pdf
books/Deep Learning with Python - F. Chollet (2021).pdf
books/G. James, D. Witten, T. Hastie, R. Tibshirani - An Introduction to Statistical Learning with Applications in Python.pdf
books/G. James, D. Witten, T. Hastie, R. Tibshirani - An Introduction to Statistical Learning with Applications in R.pdf
books/George Casella, Roger L. Berger - Statistical Inference   (2001, Duxbury Press).pdf
books/How to Prepare Data and Develop Models to Predict the Future with R- J. Brownlee.pdf
books/Introduction to Time Series Forecasting with Python - How to Prepare Data and Develop Models to Predict the Future-v1.9 - J. Brownlee.pdf
books/Natural Language Processing Recipes_Unlocking Text Data with Machine Learning and Deep Learning Using Python - A. Kulkarni, A. Shivananda(2021).pdf
books/Sharon L. Lohr - Sampling Design and Analysis (2009).pdf
books/T. Hastie, R. Tibshirani, J. Friedman - The Elements of Statistical Learning Data Mining, Inference, and Prediction.pdf
books/Understand your data, create accurate models and work projects ent-to-end - J. Brownlee.pdf
books/Data Preparation for Machine Learning - Data Cleaning, Feature Selection, and Data - J. Brownlee.pdf
